@media (max-height: 820px) {
    .content .formBtnAnimals .cat {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
    .content .formBtnAnimals .dog {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
}

@media (max-width: 1020px) {
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(9, 90px);
    }
}

@media (max-width: 920px) {
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(8, 90px);
    }
}

@media (max-width: 870px) {
    .content .formBtnAnimals{
        flex-direction: column;
        align-items: center;
        height: 85vh;
        padding-top: 70px;
    }
    .interview .formAssessment span,
    .resultInfo .returnBtn2 span,
    .avatar_btn_authorization .entranceBtn span,
    .wrapperForm .returnBtn3 span{
        display: none;
    }
    .interview .formAssessment button,
    .interview .formAssessment .nextImg,
    .resultInfo .returnBtn2,
    .avatar_btn_authorization .entranceBtn,
    .wrapperForm .returnBtn3{
        width: 50px;
    }
    .resultInfo .see .voidPicture {
        margin-top: -300px;
    }
    .resultInfo .see .messageEmptyArray {
        margin-top: 100px;
    }
}

@media (max-width: 820px) {
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(7, 90px);
    }
}

@media (max-width: 720px) {
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(6, 90px);
    }
}

@media (max-width: 620px) {
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(5, 90px);
    }
    .resultInfo .infoLikeDislike {
        margin-top: 120px;
    }
    .resultInfo .see .voidPicture {
        margin-top: -400px;
    }
    .resultInfo .see .messageEmptyArray {
        margin-top: 0px;
    }
}

@media (max-width: 520px) {
    .wrapperForm .inputForm {
        width: 250px;
    }
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(4, 90px);
    }
}

@media (max-width: 420px) {
    .wrapperForm .inputForm {
        width: 190px;
    }
    .wrapperForm .inputForm .register_button span{
        display: none;
    }
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(3, 90px);
    }
}

@media (max-width: 360px) {
    /* .resultInfo .see .voidPicture {
        margin-top: -500px;
    } */
    /* .resultInfo .see .messageEmptyArray p{
        margin-top: -100px;
    } */
    .resultInfo .positionGridCard{
        grid-template-columns: repeat(2, 90px);
    }
}